:root {
  --primary-blue: #your-blue-color;
  --primary-white: #your-white-color;
  --primary-yellow: #your-yellow-color;
  --primary-yellow-20: #your-yellow-20-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}


.edgeStoke-fuel {
  stroke: rgb(255, 0, 0, 0.7) !important;
}

.edgeStoke-power {
  stroke: rgba(169, 169, 169, 0.7) !important;
}

.edgeStoke-hp {
  stroke: rgba(255, 165, 0, 0.7) !important;
}

.edgeStoke-mp {
  stroke: rgba(255, 255, 0, 0.7) !important;
}

.edgeStoke-lp {
  stroke: rgba(0, 0, 255, 0.7) !important;
}

.edgeStoke-water {
  stroke: rgba(154, 194, 246, 0.8) !important;
}

.edgeStoke-suspect {
  stroke: rgba(184, 52, 155, 0.8) !important;
}

.edgeStoke-clean {
  stroke: rgba(79, 113, 190, 0.8) !important;
}

.edgeStoke-vhp {
  stroke: rgba(255, 102, 0, 0.7) !important;
}

.edgeStoke-air {
  stroke: rgba(153, 173, 170, 0.7) !important;
}

.edgeStoke-coolingWater {
  stroke: rgba(66, 197, 245, 0.7) !important;
}

.flowingPipe {
  stroke-width: 6px !important;
  fill: none !important;
  stroke-linecap: butt !important;
}

.flowingPipeAnimated {
  stroke-width: 3px !important;
  fill: none !important;
  stroke-dasharray: 10 !important;
  animation: flow 2s linear infinite !important;
  stroke-linecap: butt !important;
}

.edgeStoke-straight {
  stroke: rgba(62, 62, 62, 0.7) !important;
}

.edgeStoke-straightArrow {
  stroke: rgba(0, 0, 0, 0.7) !important;
}
.edgeStoke-dotted {
  stroke: rgba(56, 56, 56, 0.7) !important;
  stroke-dasharray: 0.1 8 !important;
  stroke-linecap: round !important;
}

.edgeStoke-dottedArrow {
  stroke: rgba(56, 56, 56, 0.7) !important;
  stroke-dasharray: 0.1 8 !important;
  stroke-linecap: round !important;
}


.edgeStoke-default {
  stroke: rgba(0, 0, 0, 0.7) !important;
}

/* .flowingPipe {
  stroke-width: 6px !important;
  fill: none !important;
}

.flowingPipeAnimated {
  stroke-width: 3px !important;
  fill: none !important;
  stroke-dasharray: 10 !important;
  animation: flow 2s linear infinite !important;
} */

.arrow-border {
  stroke-width: 6px !important;
  fill: none !important;
}

#node-list-Dot img{
  height: 15px;
  width: 15px;
}
/* #svg-node-couplingNode, #svg-node-turbineNode{
  min-height: 300px;
  min-width: 500px;
}

#svg-node-compressorConfigNode, #svg-node-surfaceCondenserNode, #svg-node-esvNode{
  min-height: 500px;
  min-width: 700px;
}

.react-flow__handle{
  min-width: 42px;
  min-height: 42px;
} */